.postDetail{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}
.postDetail h1{
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    border-bottom: solid var(--s-col) 5px;
    color: var(--p-col);
    width: 80%;
    margin-bottom: 20px;  
}
.section img{
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 40%;
}
.article h6{
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--s-col);
    font-size: 1em;
}
.article h5{
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
}

.article p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    font-size: 1.2em;
    margin-top: 20px;
    padding-bottom: 20px;
}
.article h3{
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    font-size: 1.2em;
    margin-top: 20px;
}
.share{
    margin-top: 30px;
    margin-bottom: 140px;
}
.share span{
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .postDetail{
        width: 80%;
        margin-left: 10%;
        margin-top: 100px;
    }
    .postDetail h1{
        font-family: 'Times New Roman', Times, serif;
        padding-bottom: 20px;
        border-bottom: solid var(--s-col) 5px;
        color: var(--p-col);
        width: 30%;
        margin-bottom: 20px;  
    }
    .section img{
        margin-bottom: 10px;
        border-radius: 5px;
    }
}
@media screen and (max-width:600px) {
    .postDetail{
        width: 80%;
        margin-left: 10%;
        margin-top: 100px;
    }
    .postDetail h1{
        font-family: 'Times New Roman', Times, serif;
        padding-bottom: 20px;
        border-bottom: solid var(--s-col) 5px;
        color: var(--p-col);
        width: 80%;
        margin-bottom: 20px;  
    }
    .section img{
        margin-bottom: 10px;
        border-radius: 5px;
        width: 100%;
    }
    .figure{
        width: 90%;
    }
}