@media  screen and (max-width:2600px) {
    .header{
        background: var(--p-col);
        position: sticky;
        top: 0px;
        padding-top: 30px;
        width: 100%;
        padding-bottom: 30px;
        padding-left: 5%;
        box-shadow: var(--t-col) 1px 2px 3px;
       
    }
    .nav{
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-evenly;
        z-index:500;
         
    }
    
    .alogo{
        margin-top: -10px;
    }
    
    .main{
        cursor: pointer;
        margin-top: 10px;
      
        margin-left: 48%;
        width: 100%;
      
    }
    .contact{
        margin-left: 77%;
    }
     .contact p{
        color: var(--s-col);
        font-family: 'Times New Roman', Times, serif;
        font-size: .8em;
     }
    .main ul li{
        list-style: none;
    }
    .main ul li{
        float: left;
        margin-left: 20px;
        color:var(--b-col);
        font-size: 1em;
        font-family: 'Times New Roman', Times, serif;
    }
    .main ul li:hover{
        border-bottom: solid var(--s-col) 2px;
        transition: 100ms;
    }
    .section .hr{
        height: 1px;
        background-color: var(--p-col);
        width: 90%;
        margin: 50px auto;
    }
     
     
    .mobileHeader{
        display: none
    }
    
    .sign{
        display: inline;
        cursor: pointer;
        
        
    }
    .profile{
        margin-left: 200px;
      
     
       
    }
    .sign li{
        border: solid 1px var(--s-col);
        padding: 10px 20px 10px 20px;
        margin-top: -10px;
        border-radius: 5px;
        margin-left: 50px;
    }
    .userinit{
        display: inline;
        cursor: pointer;
       
        
       
    }
    .userInit li{
        
        background:linear-gradient(45deg,var(--s-col),var(--b-col),var(--p-col)) ;
        padding:  10px;
        margin-top: -10px;
       width: 8%;
       text-align: center;
       border-radius: 10px;
       font-family: 'Times New Roman', Times, serif;
       font-weight: bolder;
       color: var(--p-col);
    
        
    }
    .userInit li:hover{
        background:linear-gradient(45deg,var(--p-col),var(--b-col),var(--s-col)) ; ;
    }
    .proImg li{
        width:50px;
         padding: 13px 8px 13px 8px;
        margin-top: -22px;
        border-radius: 50%;
        
    }
    .proImg img{
        width: 100%;
        border-radius: 10%;
    }
    .profile .userInit li{
        
            color: var(--p-col);
    }
}
@media  screen and (max-width:1445px) {
    .header{
        background: #001C2A;
        position: sticky;
        top: 0px;
        padding-top: 30px;
        width: 100%;
        padding-bottom: 30px;
        padding-left: 5%;
        box-shadow: var(--t-col) 1px 2px 3px;
       
    }
    .nav{
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-evenly;
        z-index:500;
         
    }
    
    .alogo{
        margin-top: -10px;
    }
    
    .main{
        cursor: pointer;
        margin-top: 10px;
      
        margin-left: 500px;
        width: 100%;
      
    }
    .contact{
        margin-left: 67%;
    }
     .contact p{
        color: var(--s-col);
        font-family: 'Times New Roman', Times, serif;
        font-size: .8em;
     }
    .main ul li{
        list-style: none;
    }
    .main ul li{
        float: left;
        margin-left: 20px;
        color:var(--b-col);
        font-size: 1em;
        font-family: 'Times New Roman', Times, serif;
    }
    .main ul li:hover{
        border-bottom: solid var(--s-col) 2px;
        transition: 100ms;
    }
    .section .hr{
        height: 1px;
        background-color: var(--p-col);
        width: 90%;
        margin: 50px auto;
    }
     
     
    .mobileHeader{
        display: none
    }
    
    .sign{
        display: inline;
        cursor: pointer;
        
        
    }
    .profile{
        margin-left: 200px;
      
     
       
    }
    .sign li{
        border: solid 1px var(--s-col);
        padding: 10px 20px 10px 20px;
        margin-top: -10px;
        border-radius: 5px;
        margin-left: 50px;
    }
    .userinit{
        display: inline;
        cursor: pointer;
       
        
       
    }
    .userInit li{
        
        background:linear-gradient(45deg,var(--s-col),var(--b-col),var(--p-col)) ;
        padding:  10px;
        margin-top: -10px;
       width: 8%;
       text-align: center;
       border-radius: 10px;
       font-family: 'Times New Roman', Times, serif;
       font-weight: bolder;
       color: var(--p-col);
    
        
    }
    .userInit li:hover{
        background:linear-gradient(45deg,var(--p-col),var(--b-col),var(--s-col)) ; ;
    }
    .proImg li{
        width:50px;
         padding: 13px 8px 13px 8px;
        margin-top: -22px;
        border-radius: 50%;
        
    }
    .proImg img{
        width: 100%;
        border-radius: 10%;
    }
    .profile .userInit li{
        
            color: var(--p-col);
    }
}

@media  screen and (max-width:1280px) {
    .header{
        background: var(--p-col);
        position: sticky;
        top: 0px;
        padding-top: 30px;
        width: 100%;
        padding-bottom: 30px;
        padding-left: 5%;
        box-shadow: var(--t-col) 1px 2px 3px;
       
    }
    .nav{
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-evenly;
        z-index:500;
         
    }
    
    .alogo{
        margin-top: -10px;
    }
    
    .main{
        cursor: pointer;
        margin-top: 10px;
      
        margin-left: 460px;
        width: 100%;
      
    }
    .contact{
        margin-left: 72%;
    }
     .contact p{
        color: var(--s-col);
        font-family: 'Times New Roman', Times, serif;
        font-size: .8em;
     }
    .main ul li{
        list-style: none;
    }
    .main ul li{
        float: left;
        margin-left: 20px;
        color:var(--b-col);
        font-size: 1em;
        font-family: 'Times New Roman', Times, serif;
    }
    .main ul li:hover{
        border-bottom: solid var(--s-col) 2px;
        transition: 100ms;
    }
    .section .hr{
        height: 1px;
        background-color: var(--p-col);
        width: 90%;
        margin: 50px auto;
    }
     
     
    .mobileHeader{
        display: none
    }
    
    .sign{
        display: inline;
        cursor: pointer;
        
        
    }
    .profile{
        margin-left: 200px;
      
     
       
    }
    .sign li{
        border: solid 1px var(--s-col);
        padding: 10px 20px 10px 20px;
        margin-top: -10px;
        border-radius: 5px;
        margin-left: 50px;
    }
    .userinit{
        display: inline;
        cursor: pointer;
       
        
       
    }
    .userInit li{
        
        background:linear-gradient(45deg,var(--s-col),var(--b-col),var(--p-col)) ;
        padding:  10px;
        margin-top: -10px;
       width: 8%;
       text-align: center;
       border-radius: 10px;
       font-family: 'Times New Roman', Times, serif;
       font-weight: bolder;
       color: var(--p-col);
    
        
    }
    .userInit li:hover{
        background:linear-gradient(45deg,var(--p-col),var(--b-col),var(--s-col)) ; ;
    }
    .proImg li{
        width:55px;
         padding: 13px 8px 13px 8px;
        margin-top: -22px;
        border-radius: 50%;
        
    }
    .proImg img{
        width: 100%;
        border-radius: 10%;
    }
    .profile .userInit li{
        
            color: var(--p-col);
    }
}








@media screen and (max-width:1024px)  {
   .nav{
    display: none;
   } 
   .mobileHeader{
    display: block;
   }
   .mobileHeader .sign li{
    width: 15%;
    list-style-type: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;

   }
   
    
.header{
   margin-bottom: -50px;
   margin-top: -60px;
   padding-bottom: 50px;
    
   padding-left: 2px;
    
}
.contact{
    margin-left: 75%;
    margin-bottom: 30px;
}
 .contact p{
    color: var(--s-col);
    font-family: 'Times New Roman', Times, serif;
    font-size: .8em;
 }
.mobileNav{
    display: flex;
    justify-content: space-between; 
    width: 92%;
    
    margin-left: 30px;
    
    } 
    .proImg li{
        width: 60px;
         padding: 13px 8px 13px 8px;
        margin-top: 5px;
        border-radius: 50%;
        margin-left: 500px;
        list-style-type: none;
    }
    .proImg img{
        width: 100%;
        border-radius: 10%;
    }
    .userinit{
        display: inline;
        cursor: pointer;
        
       
    }
    .userInit li{
        border: solid 1px var(--s-col);
        background:linear-gradient(45deg,var(--s-col),var(--b-col),var(--p-col)) ;
       
        width: 60px;
         padding: 13px 8px 13px 8px;
        margin-top: 10px;
       border-radius: 10px;
        margin-left: 500px;
      
       list-style-type: none;
       text-align: center;
        
    }
    .userInit li:hover{
        background:linear-gradient(45deg,#69B4CE,var(--s-col)) ; ;
    }
    
    
    .mobileNav .hamburger{
        margin-top: 18px;
        border:  solid var(--p-col) 1px;
       height: 20%;
       border-radius: 10px;
    }
     
    
   .mobileNav .menu{
        display: none;
        border: solid gray 1px;
        padding: 20px;
        border-radius: 5px;
        position: absolute;
        background-color: rgb(0, 0, 0);
        margin-left: -80px;
        color: var(--s-col);
        margin-top: 10px;
    }
    .mobileNav .menu ul li{
    list-style: none;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: solid var(--p-col) 1px;
     
    }
    .menu li {
    text-decoration: none;
     
    }
    
    .hamburger:hover .menu{
    display: block;
    }
    
    
    .drop{
        display: inline;
    }

}

@media screen and (max-width:780px)  {
    .nav{
     display: none;
    } 
    .mobileHeader{
     display: block;
    }
    .mobileHeader .sign li{
     width: 15%;
     list-style-type: none;
     color: white;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
     float: right;
     margin-right: 30px;
     margin-bottom: 30px;
 
    }
    
     
 .header{
    margin-bottom: -50px;
    margin-top: -60px;
    padding-bottom: 50px;
     
    padding-left: 2px;
     
 }
 .contact{
     margin-left: 79%;
     margin-bottom: 30px;
 }
  .contact p{
     color: var(--s-col);
     font-family: 'Times New Roman', Times, serif;
     font-size: .8em;
  }
 .mobileNav{
     display: flex;
     justify-content: space-between; 
     width: 92%;
     
     margin-left: 30px;
     
     } 
     .proImg li{
         width: 60px;
          padding: 13px 8px 13px 8px;
         margin-top: 5px;
         border-radius: 50%;
         margin-left: 220px;
         list-style-type: none;
     }
     .proImg img{
         width: 100%;
         border-radius: 10%;
     }
     .userinit{
         display: inline;
         cursor: pointer;
         
        
     }
     .userInit li{
         border: solid 1px var(--s-col);
         background:linear-gradient(45deg,var(--s-col),var(--b-col),var(--p-col)) ;
        
         width: 60px;
          padding: 13px 8px 13px 8px;
         margin-top: 10px;
        border-radius: 10px;
         margin-left: 200px;
       
        list-style-type: none;
        text-align: center;
         
     }
     .userInit li:hover{
         background:linear-gradient(45deg,#69B4CE,var(--s-col)) ; ;
     }
     
     
     .mobileNav .hamburger{
         margin-top: 18px;
         border:  solid var(--p-col) 1px;
        height: 20%;
        border-radius: 10px;
     }
      
     
    .mobileNav .menu{
         display: none;
         border: solid gray 1px;
         padding: 20px;
         border-radius: 5px;
         position: absolute;
         background-color: rgb(0, 0, 0);
         margin-left: -80px;
         color: var(--s-col);
         margin-top: 10px;
     }
     .mobileNav .menu ul li{
     list-style: none;
     margin-bottom: 5px;
     padding-bottom: 10px;
     border-bottom: solid var(--p-col) 1px;
      
     }
     .menu li {
     text-decoration: none;
      
     }
     
     .hamburger:hover .menu{
     display: block;
     }
     
     
     .drop{
         display: inline;
     }
    }
@media screen and (max-width:411px)  {
    .nav{
     display: none;
    } 
    .header{
        background: #001C2A;
        position: sticky;
        top: 0px;
        padding-top: 30px;
        width: 100%;
        padding-bottom: 10px;
        padding-left: 5%;
        box-shadow: var(--t-col) 1px 2px 3px;
       
    }
    .mobileHeader{
     display: block;
    }
    .mobileHeader .sign li{
     width: 26%;
     list-style-type: none;
     color: white;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
     float: right;
     margin-right: 30px;
     margin-bottom: 30px;
 
    }
    .mobileLogo{
        width: 10%;
 
    }
     
 .header{
    margin-bottom: -50px;
    margin-top: -60px;
    padding-bottom: 50px;
     
    padding-left: 2px;
     
 }
 .contact{
     margin-left: 20%;
     margin-bottom: 30px;
 }
  .contact p{
     color: var(--s-col);
     font-family: 'Times New Roman', Times, serif;
     font-size: .8em;
  }
 .mobileNav{
     display: flex;
     justify-content: space-between; 
     width: 92%;
     
     margin-left: 3px;
     
     } 
     .proImg li{
         width: 60px;
          padding: 13px 8px 13px 8px;
         margin-top: 5px;
         border-radius: 50%;
         margin-left: -60px;
         list-style-type: none;
     }
     .proImg img{
         width: 100%;
         border-radius: 10%;
     }
     .userinit{
         display: inline;
         cursor: pointer;
         
        
     }
     .userInit li{
         border: solid 1px var(--s-col);
         background:linear-gradient(45deg,var(--s-col),var(--b-col),var(--p-col)) ;
        
         width: 60px;
          padding: 13px 8px 13px 8px;
         margin-top: 10px;
        border-radius: 10px;
         margin-left: -60px;
       
        list-style-type: none;
        text-align: center;
         
     }
     .userInit li:hover{
         background:linear-gradient(45deg,#69B4CE,var(--s-col)) ; ;
     }
     
     
     .mobileNav .hamburger{
         margin-top: 18px;
         border:  solid var(--p-col) 1px;
        height: 20%;
        border-radius: 10px;
     }
      
     
    .mobileNav .menu{
         display: none;
         border: solid gray 1px;
         padding: 20px;
         border-radius: 5px;
         position: absolute;
         background-color: rgb(0, 0, 0);
         margin-left: -80px;
         color: var(--s-col);
         margin-top: 10px;
     }
     .mobileNav .menu ul li{
     list-style: none;
     margin-bottom: 5px;
     padding-bottom: 10px;
     border-bottom: solid var(--p-col) 1px;
      
     }
     .menu li {
     text-decoration: none;
      
     }
     
     .hamburger:hover .menu{
     display: block;
     }
     
     
     .drop{
         display: inline;
     }
    }