.section{
    background-image:url( '../../public/fbg.png') ;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-left: 6%;
    padding-bottom: 300px;
    margin-bottom: -100px;
    
}
.section h3{
    color: rgb(254, 129, 129);
    margin-bottom: 10px;
    margin-top: 10px;
}
.section h1{
    font-family: 'Times New Roman', Times, serif;
    color: var(--t-col);
    text-align: center;
    margin-bottom: 50px;
}
.section span{
    color: var(--s-col);
}
.form{
    border: solid rgb(221, 216, 216) 1px;
    width: 50%;
    box-shadow: 1px 1px 5px rgb(236, 230, 230);
    padding: 50px;
    margin-left: 25%;
}
.formControl label {
    display: block;
    color: var(--s-col);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    
}
.formControl input{
    padding: 10px;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    border: solid rgb(216, 215, 215) 1px;
    box-shadow: 1px 2px 3px gray;
    border-radius: 20px;
    color:#2F82AC;
    font-weight: bold;
}
.formControl select{
    padding: 10px;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    border: solid rgb(216, 215, 215) 1px;
    box-shadow: 1px 2px 3px gray;
    border-radius: 20px;
    margin-top: 10px;
    color:#2F82AC;
    font-weight: bold;
}
.formControl textarea{
    padding: 10px;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    border: solid rgb(216, 215, 215) 1px;
    box-shadow: 1px 2px 3px gray;
    border-radius: 20px;
    margin-top: 10px;
    color:var(--s-col);
    font-weight: bold;
}
.formControl p{
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 20px;
}
 
.formControl span{
 margin-top: 10px;
    padding: 10px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    border: solid 1px #754298;
    background:linear-gradient(45deg,var(--p-col),var(--s-col)) ;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    width: 12%;
}
.formControl span:hover{
  
    background:linear-gradient(45deg,var(--s-col),var(--p-col)) ;
    color:var(--b-col);
}

.checky input{
    border: none;
   
    width: 10%;
}
.form button{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px 10px 20px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    border: solid 1px #754298;
    background:linear-gradient(45deg,var(--p-col),var(--s-col)) ;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    width: 100%;
}
.form button:hover{
  
    background:linear-gradient(45deg,var(--s-col),var(--p-col)) ;
    color:var(--b-col);
}

@media screen and (max-width:768px){
    .section{
        background-image:url( '../../public/fbg.png') ;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 100px;
         
        padding-bottom: 300px;
        margin-top: 50px;
        
    }
    .section h3{
        color: rgb(254, 129, 129);
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .section h1{
        font-family: 'Times New Roman', Times, serif;
        color: var(--t-col);
        text-align: center;
        margin-bottom: 50px;
    }
    .section span{
        color: var(--s-col);
         
    }
    .form{
        border: solid rgb(221, 216, 216) 1px;
        width: 90%;
        box-shadow: 1px 1px 5px rgb(236, 230, 230);
        padding: 10px;
        margin-left: 5px;
    }
    .formControl label {
        display: block;
        color: var(--s-col);
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bolder;
        
    }
    .formControl input{
        padding: 10px;
        width: 100%;
        background-color: rgba(240, 248, 255, 0);
        border: solid rgb(216, 215, 215) 1px;
        box-shadow: 1px 2px 3px gray;
        border-radius: 20px;
        color:#2F82AC;
        font-weight: bold;
    }
    .formControl select{
        padding: 10px;
        width: 100%;
        background-color: rgba(240, 248, 255, 0);
        border: solid rgb(216, 215, 215) 1px;
        box-shadow: 1px 2px 3px gray;
        border-radius: 20px;
        margin-top: 10px;
        color:#2F82AC;
        font-weight: bold;
    }
    .formControl textarea{
        padding: 10px;
        width: 100%;
        background-color: rgba(240, 248, 255, 0);
        border: solid rgb(216, 215, 215) 1px;
        box-shadow: 1px 2px 3px gray;
        border-radius: 20px;
        margin-top: 10px;
        color:var(--s-col);
        font-weight: bold;
    }
    .formControl p{
        color: wheat;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        margin-top: 30px;
        margin-bottom: 10px;
        line-height: 20px;
    }
     
    .formControl span{
     margin-top: 10px;
        padding: 10px 10px 10px 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.1em;
        border: solid 1px #754298;
        background:linear-gradient(45deg,var(--p-col),var(--s-col)) ;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        display: block;
        width: 23%;
    }
    .formControl span:hover{
      
        background:linear-gradient(45deg,var(--s-col),var(--p-col)) ;
        color:var(--b-col);
    }
    
    .checky input{
        border: none;
       
        width: 10%;
    }
    .form button{
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 20px 10px 20px 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.1em;
        border: solid 1px #754298;
        background:linear-gradient(45deg,var(--p-col),var(--s-col)) ;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        display: block;
        width: 100%;
    }
    .form button:hover{
      
        background:linear-gradient(45deg,var(--s-col),var(--p-col)) ;
        color:var(--b-col);
    }
}