.accordion {
    border: 1px solid #ccc;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
  }
  
  .accordion-item {
    border-top: 1px solid #ccc;
  }
  
  .accordionTitle{
    padding: 20px;
    cursor: pointer;
    background-color: #f2f2f2;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 1.2em;
    border-left: solid var(--s-col) 10px;
    margin-bottom: 10px;
  }
  
  .accordionContent{
    padding: 10px;
    background-color: #fff;
  }
  
  .active {
    background-color: #e0e0e0;
  }
  