.sendEmail{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
.sectionR{
    margin-bottom: 100px;
    background: url('/stpg.png') right 300px bottom 10px;
    background-attachment: fixed;
    background-size: 1500px;
}
.sectionR span{
    color: var(--s-col);
}
.header{
    font-size: 3em;
    text-align: center;
    padding-top: 50px;
    color: var(--p-col);
   
}
.faqs{
    margin-bottom: 200px;
 
}
.faqs h2{
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
   
}
.moreservices h2{
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
   
}

@media screen and (max-width:760px) {
    .sendEmail{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .sectionR{
        margin-bottom: 100px;
        background: url('/stpg.png') right 300px bottom 10px;
        background-attachment: fixed;
        background-size: 1500px;
        margin-top: 100px;
       
    }
    .sectionR span{
        color: var(--s-col);
    }
    .header{
        font-size: 3em;
        text-align: center;
        padding-top: 50px;
        color: var(--p-col);
       
    }
    .faqs{
        margin-bottom: 200px;
     
    }
    .faqs h2{
        font-size: 2em;
        text-align: center;
        margin-top: 100px;
       
    }
    
    .moreservices h2{
        font-size: 2em;
        text-align: center;
        margin-top: 160px;
       
    }
}
