.banner{
    background: linear-gradient(-270deg,#001c2a9e,#011b289e);
  
   max-width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom-right-radius: 150px;
}
.dashboard p{
    color: var(--s-col);
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 900;
   
    
}
.user h3{
    color: var(--b-col);
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.user p{
    color: var(--b-col);
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10px;
}
.dashboard h3{
    color: var(--b-col);
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.card{
    display: flex;
    margin-left: 30%;
}
.card>div{
    color: var(--b-col);
    border: solid var(--s-col) 1px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgb(130, 128, 128) 1px 1px 1px;
    
}
.card>div p{
    color: var(--p-col);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.card>div h3{
    color: var(--b-col);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.3em;
}

@media screen and (max-width:780px) {
    .banner{
    background: linear-gradient(-270deg,#001c2a9e,#011b289e);
  margin-left: -90px;
   max-width: 150%;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom-right-radius: 150px;
}
.dashboard p{
    color: var(--s-col);
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 900;
    margin-top: 100px;
   
    
}
.user h3{
    color: var(--b-col);
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.user p{
    color: var(--b-col);
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10px;
}
.dashboard h3{
    color: var(--b-col);
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.card{
    display: flex;
    margin-left: 16%;
}
.card>div{
    color: var(--b-col);
    border: solid var(--s-col) 1px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgb(130, 128, 128) 1px 1px 1px;
    
}
.card>div p{
    color: var(--p-col);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.card>div h3{
    color: var(--b-col);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.3em;
}

}
@media screen and (max-width:411px) {
    .banner{
    background: linear-gradient(-270deg,#001c2a9e,#011b289e);
  margin-left: -90px;
   max-width: 130%;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom-right-radius: 150px;
}
.dashboard p{
    color: var(--s-col);
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 900;
    margin-top: 100px;
   
    
}
.user h3{
    color: var(--b-col);
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.user p{
    color: var(--b-col);
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10px;
}
.dashboard h3{
    color: var(--b-col);
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.card{
    display: flex;
    flex-direction: column;
    margin-left: 16%;
}
.card>div{
    color: var(--b-col);
    border: solid var(--s-col) 1px;
    padding: 20px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 10px;
    width: 70%;
    box-shadow: rgb(130, 128, 128) 1px 1px 1px;
    
}
.card>div p{
    color: var(--p-col);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.card>div h3{
    color: var(--b-col);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.3em;
}

}