.section{
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
    }
    .card{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      .form {
        padding: 10px 20px 0px 20px;
        box-shadow: 2px 2px 3px gainsboro;
        border: solid rgb(123, 121, 121) 1px;
        width: 100%;
        border-radius: 10px;
      }
      .register{
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.6em;
        color: var(--s-col);
        padding-bottom: 20px;
        border-bottom: solid 10px var(--t-col);
        width: 80%;
    }
      .control {
        margin-bottom: 0.5rem;
      }
      
      .control label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      
      .control input,
      .control select {
        display: block;
        font: inherit;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 0.25rem;
        width: 100%;
        margin-bottom: 20px;
      }
       
      
      .actions button {
        font: inherit;
        cursor: pointer;
        background-color:var(--p-col);
        color: white;
        border: 1px solid var(--s-col);
        margin-top:  50px;
        margin-bottom:  30px;
        border-radius: 4px;
        font-weight: bold;
        padding: 20px;
        width: 100%;
      }
      
      .actions button:hover,
      .actions button:active {
        background-color: var(--s-col);
        border-color:var(--p-col);
      }
      @media screen  and (max-width:411px){
        .form{
            margin-top: 60px;
            border: solid 1px gray;
            width: 140%;
            margin-left: -56px;
            padding: 10px;
            border-radius: 10px;
            box-shadow: gray 1px 2px 3px;
        }
    }