.custom{
    width: 90%;
    margin-left: 5%;
    border: 2px solid rgb(227, 225, 225);
    box-shadow: 0 0 2px rgb(225, 223, 223);
    background: url('https://res.cloudinary.com/ovaltech/image/upload/v1694807060/LOGINAPP/m8izwz0xudomtwjm8l8l.png') left 30px top 70px;
    background-repeat: no-repeat;
    height: 470px;
}
.custom h2{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 150px;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
.custom>div{
  margin-top: -100px;
    margin-left: 65%;
    
    width: 50%;
}
.custom h3{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.custom ul li{
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
}